body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f1ee;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1 {
  font-size: 22px;
  color: #0e2d56;
  margin-bottom: 16px;
}

p {
  font-size: 14px;
  color: #666666;
  margin-bottom: 20px;
}

input[type="email"],
[type="text"],
[type="password"] {
  width: 100%;
  padding: 12px 14px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  box-sizing: border-box;
}
input:focus {
  outline: none;
  border: solid 2px #0e2d56;
  background-color: #f4f1ee;
}

button {
  width: 100%;
  background-color: #0e2d56;
  color: #fdd700;
  height: 45px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #fdd700;
  color: #0e2d56;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(253, 215, 0, 0.3);
}
.back-link {
  display: block;
  color: #0e2d56;
  font-weight: bold;
  font-size: 14px;
  margin-top: 14px;

  text-decoration: none;
  transition: color 0.3s ease;
}

.back-link:hover {
  color: #fdd700;
  text-decoration: underline;
}

.alert {
  font-size: 14px;
  margin-bottom: 12px;
  color: #c62828;
}
.success {
  font-size: 14px;
  margin-bottom: 12px;
  color: green;
}
